* {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
