.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 18px 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(8px);
  z-index: 1000;
}

.nav-links {
  display: inline-flex;
  gap: 30px;
  align-items: center;
}


.nav-links a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s ease;
}


.nav-links button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.nav-links a:hover,
.nav-links button:hover {
  color: #ffd700;
}
